body{
    
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.menu{
    overflow: hidden;
}
.menu a{
    float: left;
    color: black;
    padding: 24px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
.menu-right{
    float: right;
}
.menu a:hover{
 background-color: teal;
 border-radius: 100px;
}

.menu a.active{
    color: teal;
 }
.cover1{
    
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 8%;
    margin-left: 10%;
    
}
.cover1 #p1{
    background: cyan;
}
#p1{
    border: none;
    background-color: rgb(14, 83, 110);
    
}
.title{
    margin-left: 10%;
}
.footer{
    margin-top: 10%;
    background:
     darkcyan;
    height: 500px;
}
.Img {
    display: flex;
    justify-content: center;
    padding-top: 270px;
    
}
.Img img{
    float: center;    
    margin: 10px;
}
.color{
    background: gray;
    height: 3px;
    width: 300px;
    border-radius: 20%;
    margin-left: 39%;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 20px 12px;
    font-size: 25px;
    background: honeydew;

}
.follow img{
    border-radius: 10%;
}
.result{
    display: flex;
    justify-content: space-evenly;
}











