body{
    padding: 0;
    margin: 0;
    font-family:  sans-serif;
}

.menu{
    overflow: hidden;
}

.menu a{
    float: right;
    color: black;
    padding: 24px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.menu-right{
    float: right;
}
.cover{
    background-size: cover;
}

.menu a:hover{
    color: #F9813A;
    background-color:  #DDDDDD;
}

.menu a.active{
    color: #222831;
    font-size: 20px;
 }
.container{
    display: flex;
    justify-items: center;
    
    
}
nav {
    color: #222831;
    font-size: 350%;
    text-transform: uppercase;
    background: cornsilk;
    padding: 5%;
    
 }
 .back{
     background:  #DDDDDD;
     width: 2000px;
     height: 1000px; 
    margin-top: 5%;
 }
 h3{
     margin-left: 5%;
     color: #222831;
     text-transform: uppercase;
     font-size: 20px;
 }
 hr{
     margin-left: 5%;
     margin-top: -2%;
 }
 h4{
     margin-left: 5%;
 } 
 #contace{
     font-size: 20px;
     color: #222831;
 }
 .leader{
     display: flex;
     
 }
 .app1{
     display: flex;
     padding: 2%;
     margin-left: -5%;
 }
 ul {
     font-size: medium;
     list-style: none;
 }
 img{
     border-radius: 1%;
 }
 #dd li img{
     border-radius: 5%;
 }
 #contace{
     margin-top: 19%;
 }
 #pp{
     margin-left: 30%;
 }
 .button{
     background: chartreuse;
     padding: 2%;
     width: 350px;
     border-radius: 2%;
     margin-left: 116%;
 }
 a{
     text-decoration: none;
 }
.footer{
    background: teal;
    display: flex;
    padding: 5%;
    justify-content: space-evenly;
    width: 1220px;
    height: 150px;
    border-bottom-style: solid;
    border-bottom-color:#999B84;
    margin-bottom: 5%;
    margin-top: 5%;
    
}

.app{
    display: flex;
    justify-content: center;
    
}
#p-footer p{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    
}
