body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.menu{
    overflow: hidden;
}

.menu a{
    float: right;
    color: black;
    padding: 24px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.menu-right{
    float: right;
}


.menu a:hover{
    color: #F9813A;
    background-color:  #DDDDDD;
}

.menu a.active{
    color: #222831;
    font-size: 20px;
 }
 
.about1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DDDDDD;
    padding: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
#about1{
    margin-left: 10%;
   
}
fieldset{
    border-color:#e5eaf3;
    
}
#about1{
    margin-top: -15%;
    border-radius: 1%;
}

h1{
   color: #222831;
   margin-left: 10%;
   margin-top: -2%;
   font-size: 500%;
   margin-bottom: -0%;
   text-transform: uppercase;
}

#p1{
   margin-left: 10%;
   margin-right: 10%;
}
.about2{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    
}
nav{
    text-transform: uppercase;
    margin-left: 5%;
    color:  #222831;
    font-size: 20px;
}
#ul{
    margin-left: 5%;
    
}
#boxx{
    background:;
    height: 200px;
    margin: 5%;
    padding-top: 2%;
    border-radius: 10px;
    
}
#boxx{
    background:cornsilk;
    padding: 2%;
}
#boxx img{
    border-radius: 2%;
}

#boxxx{
    background:#DDDDDD;;
    height: 200px;
    width: 1000px;
    margin: 5%;
    padding-top: 2%;
    border-radius: 10px;
}
#boxx:hover{
    background: #DDDDDD;
    border-radius:initial;
    padding: 3%;
}
.box2{
    margin-top: 10%;

}


.footer{
    background: teal;
    display: flex;
    padding: 5%;
    justify-content: space-evenly;
    width: 1220px;
    height: 150px;
    border-bottom-style: solid;
    border-bottom-color:#999B84;
    margin-bottom: 5%;
    margin-top: 15%;
}

.app{
    display: flex;
    justify-content: center;
    
}
#p-footer p{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    
}

